<div class="modal fade" tabindex="-1" id="logoutModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Logout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to logout?</p>
              <p class="text-warning"><small>*This action cannot be Undone!</small></p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-danger"><a>Logout</a></button> -->
              <button class="btn btn-danger" type="button" (click)="onLogoutClick()">Logout</button>
            </div>
          </div>
        </div>
</div>
