<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">Hello Admin</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Tools & Components
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Profile
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-regular fa-file-lines pe-2"></i>
                            Employees
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a routerLink="../employeeDetails" class="sidebar-link">Add</a>
                            </li>
                            <li class="sidebar-item">
                                <a routerLink="../employeeDetails" class="sidebar-link">Edit</a>
                            </li>
                            <li class="sidebar-item">
                                <a routerLink="../employeeDetails" class="sidebar-link">Delete</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                            aria-expanded="false" aria-controls="auth">
                            <i class="fa-regular fa-user pe-2"></i>
                            Auth
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a routerLink="../login" class="sidebar-link">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a routerLink="../register" class="sidebar-link">Register</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                            aria-expanded="false" aria-controls="dashboard">
                            <i class="fa-solid fa-sliders pe-2"></i>
                            Help
                        </a>
                        <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">FeedBack Form</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Know More</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li class="sidebar-item fixed-bottom">
                        
                        <button type="button" class="sidebar-link logout-btn bg-transparent border-0"  data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <span>Logout&nbsp;<i class="bi bi-box-arrow-right"></i></span></button>
                    
                    </li>

                    <!-- <li class="sidebar-header">
                        SignIn
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-share-nodes pe-2"></i>
                            Log Out
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                    Two Links
                                </a>
                                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="#" class="sidebar-link">Link 1</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="#" class="sidebar-link">Link 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </aside>
        <app-logout-modal></app-logout-modal>
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h1>Welcome Back!</h1>
                        <h3>What would you like to look upon today?</h3>
                    </div>
                </div>
                <div class="cards">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                
                                    <img src="/assets/pics/employee.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <a routerLink="../employeeDetails"><h5 class="card-title">Employee List</h5></a>
                                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                                    </div>
                                
                            </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <img src="/assets/pics/claim.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a routerLink="../claim-page"><h5 class="card-title">Submit Claim</h5></a>
                                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </main>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>