<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="bi bi-buildings"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Help</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feedback</a>
          <!-- <button type="button" class="logout-btn bg-transparent border-0 ms-auto"  data-bs-toggle="modal" data-bs-target="#logoutModal">
         <span>Logout&nbsp;<i class="bi bi-box-arrow-right"></i></span></button> -->
         
        </div>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button type="button" class="logout-btn bg-transparent border-0 ms-auto"  data-bs-toggle="modal" data-bs-target="#logoutModal">
                <span>Logout&nbsp;<i class="bi bi-box-arrow-right"></i></span></button>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
  <app-logout-modal></app-logout-modal>