<body>

    <app-navbar></app-navbar>
    <div class="my-4">
        <div class="head">
            <p class="heading m-4 text-center">Claims</p>
            
        </div>
    </div>

    <div class="row table-head pb-4">
        <div class="col-lg-6 mx-auto">
            <div class="input-group search-employee ">
                    <input type="search" class="form-control" placeholder="Enter Name or Id" 
                    [(ngModel)]="memberName" (ngModelChange)="Search()"aria-describedby="search">
                        <!-- <a class=" btn btn-secondary"><i class="bi bi-search"></i></a> -->
                    <button class="input-group-text btn btn-secondary" id="search"><i class="bi bi-search"></i></button>
                        <!-- <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">@example.com</span>
                        </div> -->
            
            </div>
                
            
        </div>
        <div class="col col-sm-4 feature-buttons">
                <!-- <a href="" class="btn btn-success" data-toggle="modal"> -->
                    <!-- <span><i class="bi bi-person-add"></i>  Add New Employees</span> -->
                    <div class="add-claim mx-auto">
                        <button type="button" class="btn btn-primary submit-claim-btn" data-bs-toggle="modal" data-bs-target="#newClaimModal">
                            <i class="bi bi-plus-lg"></i>&nbsp;New Claim&nbsp;
                        </button>
                    </div>
                    <app-new-claim></app-new-claim>
        </div>
        
          
    </div>
    
    <table class="table table-striped table-hover" *ngIf="claims && claims.length>0">
        <thead>
            <tr>
                <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                    </span>
                </th>
                <th>ClaimID&nbsp;<i class="bi bi-caret-down-fill"></i></th>
                <th>MemberName&nbsp;<i class="bi bi-caret-down-fill"></i></th>
                <th>AdmissionDate</th>
                <th>DischargeDate</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Actions</th>
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let clm of claims | paginate : {itemsPerPage:6,currentPage:p};">
                <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="option[]" value="1">
                        <label for="checkbox1"></label>
                    </span>
                </th>
                <td>{{clm.Id}}</td>
                <td>{{clm.MemberName}}</td>
                <td>{{formatDate(clm.AdmissionDate)}}</td>
                <td>{{formatDate(clm.DischargeDate)}}</td>
                <td>{{clm.Description}}</td>
                <td>{{clm.Amount}}</td>
                <td class="actions">
                    
                    <button class="text-primary" type="button" (click)="viewClaim(clm.Id)" data-bs-toggle="modal" data-bs-target="#claimEmployeeModal">
                        <i class="bi bi-eye-fill"></i>
                    </button> 
                    <button class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteClaimModal" (click)="openDeleteClaimModal(clm)"><i class="bi bi-trash-fill"></i></button>
                    
                </td>
                
            </tr>
            <app-view-claim-modal></app-view-claim-modal>

        </tbody>
        
    </table>
    <div class="modal fade" tabindex="-1" id="deleteClaimModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Claim</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this Claim ?</p>
              <p class="text-warning"><small>this action cannot be Undone!</small></p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteClaim()">Delete</button>
            </div>
          </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p=$event" class="pagination"></pagination-controls>
    <p *ngIf="!claims || claims.length<=0">No Claims Found</p> 
</body>